*{
  padding: 0;
  margin: 0;
  font-size: 40px;
  box-sizing: border-box;

}

.box-one{
    font-size: 80%;
  background-color: lightpink;
  padding: 10px;
  height: 150px;
  width: 300px;
  text-align: center;
}

.box-two{
  background-color: rgb(226, 174, 247);
  padding: 10px;
  height: 150px;
  width: 300px;
 text-align: center;
}

.box-three{
  background-color: rgb(180, 209, 253);
  padding: 10px;
  height: 300px;
  width: 300px;
 text-align: center;
}